<div class="jumbotron">
  
  <h1> Upgrading myself with </h1>
  <h2><%= @name %></h2>
  <p class="lead">A productive web framework that<br />does not compromise speed and maintainability.</p>
</div>

<div class="row marketing">
TTrying to take the Feynman approach to learn something.
</div>
